.body-blog {
  padding-top: 105px;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }
  p, span, a {
    font-family: 'Roboto', sans-serif;
  }
}

.main-posts {
  .main-post {
    border: 1px solid $gray-border;
    border-radius: 10px;
    height: 380px;
    overflow: hidden;
    display: flex;
    transition: 0.5s ease all;
    .media-post {
      overflow: hidden;
      transition: 0.5s ease all;
      width: 20%;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4733c9', endColorstr='$principal-blue', GradientType=1);
      height: 100%;
      background-color: $principal-blue;
      .overlay {
        height: 100%;
        background-color: rgba(27, 118, 255, 0.6);
      }
    }
    .post-content {
      width: 80%;
      padding: 20px;
      flex-direction: column;
      justify-content: flex-end;
      display: flex;
      .post-title {
        a {
          color: $text-gray;
          h2 {
            font-size: 3em;
          }
        }
      }
      .post-text {
        font-size: 1.2em;
        color: $gray;
        p {
          line-height: 1.1;
          text-align: justify;
        }
      }
      .post-info {
        display: flex;
        align-items: center;
        .categories {
          span {
            font-size: 1.1em;
            color: $text-gray;
            &:first-child {
              &:after {
                content: '|';
                margin: 0 7px;
              }
            }
          }
          display: flex;
          flex-wrap: wrap;
          a {
            color: $text-blue;
            text-transform: uppercase;
            transition: 0.5s ease all;
            margin-right: 15px;
          }
          a:hover {
            text-decoration: underline;
            transition: 0.5s ease all;
          }
        }
      }
    }
  }
  .main-post:hover {
    border: 1px solid $text-blue;
    transition: 0.5s ease all;
    .media-post {
      width: 25%;
      transition: 0.5s ease all;
    }
    .post-content {
      width: 75%;
      .post-title {
        a {
          color: $titles;
        }
      }
    }
  }
  .col:nth-child(2) {
    .secondary-post:first-child {
      margin-bottom: 10px;
    }
  }
  .secondary-post {
    transition: 0.5s ease all;
    border: 1px solid $gray-border;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    height: 185px;
    .media-post {
      overflow: hidden;
      transition: 0.5s ease all;
      width: 3%;
      background-color: $principal-blue;
    }
    .post-content {
      padding: 15px;
      width: 97%;
      flex-direction: column;
      justify-content: flex-end;
      display: flex;
      .post-title {
        width: 95%;
        h4 {
          font-size: 1.9em;
          margin-top: 0;
        }
        a {
          color: $text-gray;
        }
      }
      .post-info {
        display: flex;
        align-items: center;
        .categories {
          span {
            font-size: 1.1em;
            color: $text-gray;
            &:first-child {
              &:after {
                content: '|';
                margin: 0 7px;
              }
            }
          }
          display: flex;
          flex-wrap: wrap;
          a {
            margin-right: 15px;
            color: $text-blue;
            text-transform: uppercase;
            transition: 0.5s ease all;
            font-size: 0.9em;
          }
          a:hover {
            text-decoration: underline;
            transition: 0.5s ease all;
          }
        }
      }
    }
  }
  .secondary-post:hover {
    border: 1px solid $text-blue;
    transition: 0.5s ease all;
    .media-post {
      width: 5%;
      overflow: hidden;
    }
    .post-content {
      width: 95%;
      .post-title {
        a {
          color: $titles;
        }
      }
    }
  }
}

.posts-container {
  .padding-col {
    padding-top: 75px;
    padding-bottom: 25px;
  }
  .post-selector {
    display: flex;
    border: 1px solid $gray-border;
    border-radius: 10px;
    margin-bottom: 25px;
    .tabs {
      .tab {
        a.active {
          background-color: $light-gray;
          color: $principal-blue;
        }
      }
      .indicator {
        background-color: $principal-blue;
      }
    }
    .selection {
      width: 100%;
      text-align: center;
      display: flex;
      border-radius: 10px;
      a {
        width: 100%;
        display: inline-block;
        text-align: center;
        font-size: 1.1em;
        font-weight: 600;
        color: $gray;
      }
    }
  }
}

.posts {
  min-height: 1000px;
  .post {
    display: flex;
    margin: 0 25px 25px 0;
    height: 260px;
    .media-post {
      transition: 0.5s ease all;
      width: 15%;
      background-color: $principal-blue;
      border-radius: 10px;
      overflow: hidden;
      img {
        height: 100%;
      }
      .overlay {
        height: 100%;
        background-color: rgba(27, 118, 255, 0.7);
        text-align: left;
        padding: 20px;
        .day {
          font-weight: 500;
        }
        p {
          margin-top: 0;
          font-size: 1.4em;
          line-height: 1px;
          color: white;
        }
      }
    }
    .post-content {
      padding: 15px;
      width: 85%;
      max-height: 390px;
      .post-title {
        a {
          h3 {
            margin-top: 0;
            font-size: 2.5em;
          }
          color: $text-gray;
        }
      }
      .post-text {
        color: $gray;
        p {
          font-size: 1.1em;
        }
      }
      .post-info {
        .categories {
          display: flex;
          flex-wrap: wrap;
          a {
            margin-right: 15px;
            color: $text-blue;
            text-transform: uppercase;
            transition: 0.5s ease all;
            font-size: 0.9em;
          }
          a:hover {
            text-decoration: underline;
            transition: 0.5s ease all;
          }
        }
      }
    }

  }
  .post:hover {
    transition: 0.5s ease all;
    .media-post {
      width: 18%;
    }
    .post-content {
      width: 82%;
      .post-title {
        a {
          color: $titles;
        }
      }
    }
  }
  .pagination {
    padding: 20px 0;
    ul {
      text-align: center;
      width: 100%;
      li {
        font-size: 1.1em;
        height: 40px;
        width: 40px;
        line-height: 40px;
        a {
          height: 40px;
          width: 40px;
          color: $gray;
          transition: 0.5s ease all;
          border-radius: 25px;
          line-height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .current {
        background-color: $light-gray;
        color: $titles;
        transition: 0.5s ease all;
        border-radius: 25px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      a:hover {
        background-color: $light-gray;
        color: $titles;
        transition: 0.5s ease all;
      }
    }
  }
}

.sidebar {
  .padding-col {
    padding-top: 75px;
  }
  .categories {
    border: 1px solid $gray-border;
    padding: 10px 25px;
    border-radius: 10px 10px 0 0;
    h6 {
      font-size: 1.6em;
      color: $text-gray;
      font-weight: 500;
      padding: 0 10px;
      text-transform: uppercase;
    }
    ul {
      a {
        font-size: 1.4em;
        color: $gray;
        padding: 5px 10px;
        display: block;
        transition: 0.5s ease all;
        li {
          display: flex;
          justify-content: space-between;
        }
      }
      a:hover {
        background-color: $light-gray;
        border-radius: 5px;
        transition: 0.5s ease all;
        color: $text-blue;
      }
    }
  }
  .contact-form {
    border-radius: 0 0 10px 10px;
    min-height: 450px;
    background: rgba(71, 51, 201, 1);
    background: -moz-linear-gradient(left, rgba(71, 51, 201, 1) 0%, rgba(27, 118, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(71, 51, 201, 1)), color-stop(100%, rgba(27, 118, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(71, 51, 201, 1) 0%, rgba(27, 118, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(71, 51, 201, 1) 0%, rgba(27, 118, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(71, 51, 201, 1) 0%, rgba(27, 118, 255, 1) 100%);
    background: linear-gradient(to right, rgba(71, 51, 201, 1) 0%, rgba(27, 118, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4733c9', endColorstr='$principal-blue', GradientType=1);
    padding: 25px;
    .text-form {
      color: white;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      padding-top: 20px;
      span {
        font-size: 5em;
        width: 100%;
      }
      h6 {
        font-size: 2.1em;
      }
      p {
        font-size: 1.5em;
      }
    }
    .success-msg {
      h6 {
        font-size: 2.1em;
        color: white;
        text-align: center;
      }
    }
    .form {
      display: flex;
      flex-wrap: wrap;
      input {
        background-color: rgba(0, 0, 0, 0.25);
        border: none;
        border-radius: 5px;
        font-size: 1em !important;
        padding: 0 15px;
        margin: 0;
        color: $text-blue;
        transition: 0.5s ease all;
        height: 45px;
      }
      input[type=email] {
        margin-bottom: 2px;
      }
      ::placeholder {
        color: $text-blue !important;
      }
      input[type=email]:not(.browser-default):focus:not([readonly]), input[type=email].invalid:not(.browser-default) {
        border-bottom: 0 solid #000;
        box-shadow: 0 0 0 0 transparent;
        background-color: white;
        transition: 0.5s ease all;
      }
      .helper-text {
        font-size: 1em;
        color: #ffcc00 !important;
        &:after {
          color: #ffcc00 !important;
        }
      }
    }
    .send-btn {
      width: 100%;
      text-align: center;
      margin-top: 10px;
      input {
        padding: 0 10px;
        width: 100%;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        font-size: 1.2em;
        color: $text-gray;
        background-color: white;
        transition: 0.5s ease all;
        border: 0;
        height: 45px !important;
      }
    }
    .send-btn:hover {
      input {
        color: $text-blue;
        transition: 0.5s ease all;
        cursor: pointer;
      }
    }
  }
}

.banner {
  background-color: $principal-blue;
  background-image: url('../assets/img/blog-section-bg.png');
  height: 320px;
  background-repeat: no-repeat;
  background-position-y: center;
  .container {
    height: 100%;
    .row {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      .banner-text {
        h1 {
          color: white;
          font-size: 3.8em;
          white-space: nowrap;
        }
      }
      .banner-text-1 {
        text-align: right;
        h4 {
          font-size: 2em;
          color: white;
          margin: 0;
        }
        h5 {
          font-weight: 500;
          color: white;
          margin: 10px 0;
        }
        .banner-btn {
          width: 100%;
          text-align: right;
          margin-top: 20px;
          a {
            padding: 10px;
            width: 50%;
            display: inline-block;
            text-align: center;
            border-radius: 5px;
            font-size: 1.2em;
            color: $text-gray;
            background-color: white;
            transition: 0.5s ease all;
          }
        }
        .banner-btn:hover {
          a {
            color: $text-blue;
            transition: 0.5s ease all;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .main-posts {
    .main-post {
      height: 330px;
      .media-post {
        width: 15%;
      }
      .post-content {
        width: 85%;
      }
    }
    .main-post:hover {
      .media-post {
        width: 20%;
      }
      .post-content {
        width: 80%;
      }
    }
    .secondary-post {
      height: 160px;
      .post-content {
        .post-tittle {
          width: 100%;
        }
      }
    }
  }
  .posts {
    .post {
      display: flex;
      height: 260px;
    }
  }
  .sidebar {
    .contact-form {
      .text-form {
        h6 {
          font-size: 1.9em;
        }
      }
    }
  }
  .banner {
    height: 260px;
    .container {
      .row {
        .banner-text {
          h1 {
            font-size: 3.4em;
          }
        }
        .banner-text-1 {
          h4 {
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .body-blog {
    padding-top: 90px;
  }
  .main-posts {
    .main-post {
      .post-content {
        padding: 20px;
        justify-content: center;
        .post-title {
          a {
            margin-bottom: 0;
            h2 {
              font-size: 2.4em;
              margin: 0;
            }
          }
        }
        .post-text {
          font-size: 1em;
        }
        .post-info {
          .categories {
            margin: 0;
            a {
              font-size: 0.9em;
            }
          }
        }
      }
    }
    .secondary-post {
      .post-content {
        .post-title {
          width: 90%;
          h4 {
            font-size: 1.5em;
            margin-top: 0.5rem;
          }
        }
        .post-info {
          .categories {
            span {
              font-size: 1em;
            }
            margin: 0;
            a {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }
  .posts-container {
    .padding-col {
      padding-top: 50px;
    }
    .post-selector {
      .selection {
        a {
          font-size: 1em;
        }
      }
    }
  }
  .posts {
    min-height: auto;
    .post {
      .media-post {
        .overlay {
          padding: 20px 10px;
          p {
            font-size: 1.1em;
            line-height: 1px;
          }
        }
      }
      .post-content {
        .post-title {
          a {
            h3 {
              font-size: 1.8em;
            }
          }
        }
        .post-text {
          p {
            font-size: 1em;
          }
        }
        .post-info {
          ul {
            li {
              a {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
    .pagination {
      ul {
        li {
          font-size: 1em;
        }
      }
    }
  }
  .sidebar {
    .padding-col {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .categories {
      h6 {
        font-size: 1.3em;

      }
      ul {
        a {
          font-size: 1.1em;
        }
      }
    }
    .contact-form {
      .text-form {
        padding-right: 0;
        span {
          font-size: 5em;
        }
        h6 {
          font-size: 1.6em;
          br {
            display: none;
          }
        }
        p {
          font-size: 1.4em;
          margin-top: 0;
        }
      }
      .form {
        display: flex;
        input {
          font-size: 1em !important;
          overflow: hidden;
        }
      }
      .send-btn {
        a {
          font-size: 1.2em;
        }
      }
    }
  }
  .banner {
    height: 250px;
    .container {
      .row {
        .banner-text {
          h1 {
            font-size: 2.5em;
          }
        }
        .banner-text-1 {
          h4 {
            font-size: 1.4em;
          }
          h5 {
            font-size: 1.3em;
          }
          .banner-btn {
            a {
              font-size: 1.2em;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .main-posts {
    .main-post {
      height: auto;
      margin-bottom: 15px;
      min-height: 180px;
      .media-post {
        height: auto;
        width: 10%;
      }
      .post-content {
        padding: 10px;
        width: 90%;
        .post-title {
          a {
            margin: 0;
            h2 {
              font-size: 2.3em;
              margin: 0;
            }
          }
        }
        .post-text {
          font-size: 1em;
        }
        .post-info {
          .categories {
            margin: 0;
            a, span {
              font-size: 0.9em;
            }
          }
        }
      }
    }
    .main-post:hover {
      .media-post {
        width: 10%;
      }
      .post-content {
        width: 90%;
      }
    }
    .secondary-post:hover {
      .media-post {
        width: 2%;
      }
      .post-content {
        width: 98%;
        .post-title {
        }
      }
    }
    .secondary-post {
      height: auto;
      min-height: 120px;
      .media-post {
        width: 2%;
      }
      .post-content {
        width: 98%;
        padding: 10px;
        justify-content: center;
        .post-title {
          width: 90%;
          h4 {
            font-size: 1.5em;
            margin-top: 0;
          }
        }
        .post-info {
          .categories {
            margin: 0;
            a, span {
              font-size: 0.9em;
            }
          }
        }
      }
    }
    .col:nth-child(2) {
      .secondary-post:first-child {
        margin-bottom: 15px;
      }
    }
  }
  .posts-container {
    .padding-col {
      padding-top: 30px;
    }
  }
  .posts {
    height: auto;
    .post {
      flex-wrap: wrap;
      padding-right: 0;
      margin: 20px 20px 20px 0;
      height: auto;
      .media-post {
        width: 100%;
        height: 80px;
        .overlay {
          padding: 15px 0 0 10px;
          p {
            margin-top: 0;
            text-align: left;
          }
        }
      }
      .post-content {
        width: 100%;
        .post-title {
          h3 {
            font-size: 2em;
          }
        }
      }
    }
    .post:hover {
      transition: 0.5s ease all;
      .media-post {
        width: 100%;
      }
      .post-content {
        width: 100%;
      }
    }
  }
  .sidebar {
    .categories {
      padding: 10px 15px;
    }
    .contact-form {
      min-height: auto;
      .form {
        display: flex;
        input {
          height: 2em !important;
          padding: 7px;
        }
      }
      .text-form {
        h6 {
          font-size: 1.5em;
          br {
            display: none;
          }
        }
      }
      .send-btn {
        a {
          padding: 7px;
        }
      }
    }
  }
  .banner {
    height: 200px;
    .container {
      .row {
        .banner-text {
          h1 {
            font-size: 2.2em;
            white-space: nowrap;
          }
        }
        .banner-text-1 {
          h4 {
            font-size: 1.3em;
            margin-top: 0;
          }
          h5 {
            font-size: 1.2em;
          }
          .banner-btn {
            a {
              font-size: 1.1em;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .posts {
    min-height: auto;
  }
  .body-blog {
    padding-top: 75px;
  }
  .main-posts {
    .col:nth-child(2) {
      .secondary-post:first-child {
        margin-bottom: 10px;
      }
    }
    .secondary-post {
      height: auto;
      min-height: auto;
    }
    .main-post {
      flex-wrap: wrap;
      height: auto;
      margin-bottom: 10px;
      min-height: auto;
      .media-post {
        height: 80px;
        width: 100%;
        border-radius: 10px;
      }
      .post-content {
        width: 100%;
        .post-title {
          a {
            h2 {
              font-size: 1.6em;
            }
          }
        }
      }
    }
    .main-post:hover {
      .media-post {
        width: 100%;
      }
      .post-content {
        width: 100%;
      }
    }
    .secondary-post:hover {
      .media-post {
        width: 3%;
        overflow: hidden;
      }
      .post-content {
        width: 97%;
        .post-title {
          a {
            color: $titles;
          }
        }
      }
    }
  }
  .posts-container {
    .padding-col {
      padding-top: 0;
    }
    .post-selector {
      margin-top: 20px;
      .selection {
        a {
          font-size: 0.8em;
        }
      }
    }
  }
  .posts {
    height: auto;
    .pagination {
      padding: 0;
      ul {
        li {
          height: 30px;
          width: 30px;
          line-height: 30px;
          a {
            height: 30px;
            width: 30px;
            line-height: 30px;
          }
        }
        .current {
          height: 30px;
          width: 30px;
          line-height: 30px;
        }
      }
    }
  }
  .sidebar {
    .padding-col {
      padding-top: 0;
      padding-bottom: 25px;
    }
    .contact-form {
      min-height: auto;
      .text-form {
        h6 {
          font-size: 1.4em;
          margin-bottom: 0;
        }
        p {
          font-size: 1.2em;
          margin: 5px 0;
        }
      }
    }
  }
  .result-container {
    height: auto;
    h4 {
      font-size: 1.8em;
    }
    h3 {
      font-size: 2em;
    }
  }
  .banner {
    height: auto;
    padding: 20px 0;
    .container {
      .row {
        display: block;
        .banner-text {
          h1 {
            padding: 0;
            margin: 0;
            margin-bottom: 10px;
            text-align: center;
            font-size: 2.2em;
          }
        }
        .banner-text-1 {
          h4 {
            padding: 0;
            text-align: center;
            margin: 0;
            font-size: 1.3em;
            br {
              display: none;
            }
          }
          h5 {
            font-size: 1.2em;
            text-align: center;
          }
          .banner-btn {
            width: 100%;
            a {
              width: 100%;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
