#mailpoet_form_2 .mailpoet_form {
    position: relative;
}

#mailpoet_form_2 .mailpoet_message:last-child{
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.sidebar .contact-form {
    position: relative;
}

.sidebar #mailpoet_form_4 .mailpoet_validate_success {
    color: white !important;
    display: flex;
    position: absolute;
}

.sidebar #mailpoet_form_4 .mailpoet_validate_success {
    margin-left: -25px;
    padding: 47px;
    bottom: 0;
    font-size: 31px;
    top: 100px;
}

.sidebar #mailpoet_form_4 .mailpoet_text, #mailpoet_form_4 .mailpoet_textarea {

    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    font-size: 1em !important;
    padding: 0 15px;
    margin: 0;
    color: #0078FF;
    transition: 0.5s ease all;
    height: 45px;
}

.sidebar #mailpoet_form_4 .mailpoet_paragraph .mailpoet_text {
    width: 100%;
}

.sidebar #mailpoet_form_4 .mailpoet_paragraph {
    display: flex;
    flex-wrap: wrap;
}

.sidebar #mailpoet_form_4 .mailpoet_paragraph .mailpoet_text:focus {
    border-bottom: 0 solid #000;
    box-shadow: 0 0 0 0 transparent;
    background-color: white;
    transition: 0.5s ease all;
}

.sidebar #mailpoet_form_4 .mailpoet_text::placeholder, #mailpoet_form_4 .mailpoet_textarea ::placeholder {
    color: #0078FF !important;
}

.sidebar #mailpoet_form_2 .mailpoet_validate_success {
    color: white !important;
    font-size: 2.1em;
    text-align: center;
    margin: 0;
    transition: 0.5s ease all;
}

.sidebar input.mailpoet_submit {
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2em;
    color: #666;
    background-color: white;
    transition: 0.5s ease all;
    border: 0;
    height: 45px !important;
    text-transform: uppercase;
}

.sidebar input.mailpoet_submit:hover {
    color: #0078FF;
    transition: 0.5s ease all;
    cursor: pointer;
}

.sidebar #mailpoet_form_2 .mailpoet_text, #mailpoet_form_2 .mailpoet_textarea {

    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    font-size: 1em !important;
    padding: 0 15px;
    margin: 0;
    color: #0078FF;
    transition: 0.5s ease all;
    height: 45px;
}

.sidebar #mailpoet_form_2 .mailpoet_paragraph .mailpoet_text {
    width: 100%;
}

.sidebar #mailpoet_form_2 .mailpoet_paragraph {
    display: flex;
    flex-wrap: wrap;
}

.sidebar #mailpoet_form_2 .mailpoet_paragraph .mailpoet_text:focus {
    border-bottom: 0 solid #000;
    box-shadow: 0 0 0 0 transparent;
    background-color: white;
    transition: 0.5s ease all;
}

.sidebar #mailpoet_form_2 .mailpoet_text::placeholder, #mailpoet_form_2 .mailpoet_textarea ::placeholder {
    color: #0078FF !important;
}

.parsley-custom-error-message {
    font-size: 1em;
    color: #ffcc00 !important;
}
/*   Single Post  */

.single-post input.mailpoet_submit:hover {
    color: #0078FF;
    transition: 0.5s ease all;
    cursor: pointer;
}

.single-post input.mailpoet_submit {
    padding: 0 10px;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2em;
    color: #666;
    background-color: white;
    transition: 0.5s ease all;
    border: 0;
    height: 45px !important;
    text-transform: uppercase;
}

.single-post #mailpoet_form_2 .mailpoet_text, #mailpoet_form_2 .mailpoet_textarea {

    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    font-size: 1em !important;
    padding: 0 15px;
    margin: 0;
    color: #0078FF;
    transition: 0.5s ease all;
    height: 45px;
}

.single-post #mailpoet_form_2 .mailpoet_paragraph .mailpoet_text {
    width: 100%;
}

.single-post #mailpoet_form_2 .mailpoet_paragraph {
    display: flex;
    flex-wrap: wrap;
}


.single-post #mailpoet_form_2 .mailpoet_paragraph .mailpoet_text:focus {
    border-bottom: 0 solid #000;
    box-shadow: 0 0 0 0 transparent;
    background-color: white;
    transition: 0.5s ease all;
}

.single-post #mailpoet_form_2 .mailpoet_text::placeholder, #mailpoet_form_2 .mailpoet_textarea ::placeholder {
    color: #0078FF !important;
}

.single-post form.mailpoet_form.mailpoet_form_shortcode {
    display: flex;
}

.single-post div#mailpoet_form_2 {
    width: 100%;
}

.single-post p.mailpoet_paragraph {
    width: 70%;
}

.single-post p.mailpoet_paragraph:last-of-type {
    width: 30%;
    margin-left: 10px;
}

.single-post #mailpoet_form_2 .mailpoet_validate_success {
    color: white !important;
    position: absolute;
    width: 100%;
    font-size: 2.1em;
    font-weight: 300;
    text-align: center;
    margin: 0;
}

.single-post section.form-section {
    position: relative;
}


.single-post #mailpoet_form_4 .mailpoet_text, #mailpoet_form_4 .mailpoet_textarea {
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    font-size: 1em !important;
    padding: 0 15px;
    margin: 0;
    color: #0078FF;
    transition: 0.5s ease all;
    height: 45px;
}

.single-post #mailpoet_form_4 .mailpoet_paragraph .mailpoet_text {
    width: 100%;
}

.single-post #mailpoet_form_4 .mailpoet_paragraph .mailpoet_text:focus {
    border-bottom: 0 solid #000;
    box-shadow: 0 0 0 0 transparent;
    background-color: white;
    transition: 0.5s ease all;
}

.single-post #mailpoet_form_4 .mailpoet_text::placeholder, #mailpoet_form_4 .mailpoet_textarea ::placeholder {
    color: #0078FF !important;
}

.single-post div#mailpoet_form_4 {
    width: 100%;
}

#mailpoet_form_2 .mailpoet_message:last-child{
    display: flex;
    align-items: center;
}

/* Nav bar */

#site-nav {
    z-index: 1001!important;
}

.site-nav-bg-white {
    z-index: 1001 !important;
}


.media-content #css-only-modals {
    z-index: 4!important;
}

.topnav .responsive {
    z-index: 1001 !important;
}

body.logged-in.admin-bar .topnav2 {
    top: 38px;
}

body.logged-in.admin-bar .site-nav-blog {
    top: 30px !important;

}

body.logged-in.admin-bar.single-format-standard .site-nav-blog-2 {
    top: 30px !important;

}

body.logged-in.admin-bar.single-post {
    padding-top: 50px;
}

.site-nav-blog {
    top: 0;
}

.single-post {
    padding-top: 50px;
}

/* Nav bar end*/

/* social */
.a2a_kit.a2a_kit_size_32.addtoany_list {
    line-height: 0 !important;
}

/* end social*/

a.js-wpml-ls-item-toggle.wpml-ls-item-toggle {
    border: 0 !important;
    background: 0 !important;
}

.wpml-ls-statics-shortcode_actions.wpml-ls.wpml-ls-legacy-list-vertical {
    width: 100%;
}

ul#dropdown2 {
    overflow: hidden !important;
}

span.page-numbers.current {
    background-color: #e4e4e4;
    color: #333;
    transition: 0.5s ease all;
    border-radius: 25px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.page-numbers:hover {
    background-color: #e4e4e4;
    color: #333;
    transition: 0.5s ease all;
}

a.page-numbers {
    height: 40px;
    width: 40px;
    color: #999;
    transition: 0.5s ease all;
    border-radius: 25px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numeric_nav {
    display: flex;
    justify-content: center;
}

div.wpcf7-validation-errors {
    display: none !important;
}

.spring-spinner, .spring-spinner * {
    box-sizing: border-box;
}

.spring-spinner {
    height: 60px;
    width: 60px;
}

.spring-spinner .spring-spinner-part {
    overflow: hidden;
    height: calc(60px / 2);
    width: 60px;
}

.spring-spinner .spring-spinner-part.bottom {
    transform: rotate(180deg) scale(-1, 1);
}

.spring-spinner .spring-spinner-rotator {
    width: 60px;
    height: 60px;
    border: calc(60px / 7) solid transparent;
    border-right-color: #FFFFFF;
    border-top-color: #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    animation: spring-spinner-animation 2s ease-in-out infinite;
    transform: rotate(-200deg);
}

@keyframes spring-spinner-animation {
    0% {
        border-width: calc(60px / 7);
    }
    25% {
        border-width: calc(60px / 23.33);
    }
    50% {
        transform: rotate(115deg);
        border-width: calc(60px / 7);
    }
    75% {
        border-width: calc(60px / 23.33);
    }
    100% {
        border-width: calc(60px / 7);
    }
}

.background-loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fbfbfb;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 9999999999;
}
@media screen and (max-width: 1440px){
    .single-post #mailpoet_form_2 .mailpoet_validate_success {
        font-size: 1.8em;
    }
    .sidebar #mailpoet_form_2 .mailpoet_validate_success{
        font-size: 1.7em;
    }
}

@media screen and (max-width: 1280px){
    .single-post #mailpoet_form_2 .mailpoet_validate_success {
        font-size: 1.7em;
    }
    .sidebar #mailpoet_form_2 .mailpoet_validate_success{
        font-size: 1.6em;
    }
}

@media screen and (max-width: 1024px){
    .single-post #mailpoet_form_2 .mailpoet_validate_success {
        font-size: 1.6em;
    }
    .sidebar #mailpoet_form_2 .mailpoet_validate_success{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 800px){
    /* social in mobile*/
    .a2a_kit.a2a_kit_size_32.addtoany_list {
        display: flex;
    }

    .single-post #mailpoet_form_2 .mailpoet_validate_success {
        font-size: 1.6em;
    }
    .sidebar #mailpoet_form_2 .mailpoet_validate_success{
        font-size: 1.4em;
    }
}

@media screen and (max-width: 600px) {

    .single-post form.mailpoet_form.mailpoet_form_shortcode {
        flex-wrap: wrap;
    }

    .single-post #mailpoet_form_2 .mailpoet_paragraph {
        width: 100%;
        margin: 0;
    }

    .single-post #mailpoet_form_2 .mailpoet_paragraph:last-of-type {
        width: 100%;
        margin-top: 10px;
    }
}