/* Message */

.sidebar #mailpoet_form_2 .mailpoet_validate_success {
    color: white !important;
    display: flex;
    position: absolute;
    background: #4733c9;
    background: -moz-linear-gradient(left, #4733c9 0%, #1b76ff 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #4733c9), color-stop(100%, #1b76ff));
    background: -webkit-linear-gradient(left, #4733c9 0%, #1b76ff 100%);
    background: -o-linear-gradient(left, #4733c9 0%, #1b76ff 100%);
    background: -ms-linear-gradient(left, #4733c9 0%, #1b76ff 100%);
    background: linear-gradient(to right, #4733c9 0%, #1b76ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4733c9', endColorstr='#1b76ff', GradientType=1);
}

.sidebar .contact-form {
    position: relative;
}

/* english form */
.sidebar #mailpoet_form_4 .mailpoet_validate_success {
    color: white !important;
    display: flex;
    position: absolute;
    background: #4733c9;
    background: -moz-linear-gradient(left, #4733c9 0%, #1b76ff 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #4733c9), color-stop(100%, #1b76ff));
    background: -webkit-linear-gradient(left, #4733c9 0%, #1b76ff 100%);
    background: -o-linear-gradient(left, #4733c9 0%, #1b76ff 100%);
    background: -ms-linear-gradient(left, #4733c9 0%, #1b76ff 100%);
    background: linear-gradient(to right, #4733c9 0%, #1b76ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4733c9', endColorstr='#1b76ff', GradientType=1);
}

.sidebar .contact-form {
    position: relative;
}

.sidebar #mailpoet_form_4 .mailpoet_validate_success {
    /*test*/
    margin-left: -25px;
    padding: 47px;
    bottom: 0;
    font-size: 31px;
    top: 100px;
    /* end test */
}

.sidebar #mailpoet_form_4 .mailpoet_text, #mailpoet_form_4 .mailpoet_textarea {

    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    font-size: 1em !important;
    padding: 0 15px;
    margin: 0;
    color: #0078FF;
    transition: 0.5s ease all;
    height: 45px;
}

.sidebar #mailpoet_form_4 .mailpoet_paragraph .mailpoet_text {
    width: 100%;
}

.sidebar #mailpoet_form_4 .mailpoet_paragraph {
    display: flex;
    flex-wrap: wrap;
}

.sidebar #mailpoet_form_4 .mailpoet_paragraph .mailpoet_text:focus {
    border-bottom: 0 solid #000;
    box-shadow: 0 0 0 0 transparent;
    background-color: white;
    transition: 0.5s ease all;
}

.sidebar #mailpoet_form_4 .mailpoet_text::placeholder, #mailpoet_form_4 .mailpoet_textarea ::placeholder {
    color: #0078FF !important;
}

/* fin */

.sidebar #mailpoet_form_2 .mailpoet_validate_success {
    /*test*/
    margin-left: -25px;
    padding: 47px;
    bottom: 0;
    font-size: 31px;
    top: 100px;
    /* end test */
}

@media screen and (max-width: 600px) {

    .sidebar #mailpoet_form_2 .mailpoet_validate_success {
        /*test*/
        margin-left: -25px;
        padding: 35px;
        bottom: 0;
        font-size: 31px;
        top: 95px;

        /* end test */
    }

    .single-post #mailpoet_form_2 .mailpoet_validate_success {
        color: white !important;
        position: absolute;
        top: 35px;
        padding: 97px;
    }

    .sidebar #mailpoet_form_4 .mailpoet_validate_success {
        /*test*/
        margin-left: -25px;
        padding: 35px;
        bottom: 0;
        font-size: 31px;
        top: 95px;

        /* end test */
    }

    .single-post #mailpoet_form_4 .mailpoet_validate_success {
        color: white !important;
        position: absolute;
        top: 35px;
        padding: 97px;
    }

    /*----Luis-----*/
    .single-post form.mailpoet_form.mailpoet_form_shortcode {
        flex-wrap: wrap;
    }

    .single-post #mailpoet_form_2 .mailpoet_paragraph {
        width: 100%;
        margin: 0;
    }

    .single-post #mailpoet_form_2 .mailpoet_paragraph:last-of-type {
        width: 100%;
        margin-top: 10px;
    }

    /* social in mobile*/
    .a2a_kit.a2a_kit_size_32.addtoany_list {
        display: flex;
    }
}

@media (max-width: 800px) {
    .a2a_kit.a2a_kit_size_32.addtoany_list {
        display: flex;
    }
}
/* End Message */

.sidebar input.mailpoet_submit {
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2em;
    color: #666;
    background-color: white;
    transition: 0.5s ease all;
    border: 0;
    height: 45px !important;
}

.sidebar input.mailpoet_submit:hover {
    color: #0078FF;
    transition: 0.5s ease all;
    cursor: pointer;
}

.sidebar #mailpoet_form_2 .mailpoet_text, #mailpoet_form_2 .mailpoet_textarea {

    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    font-size: 1em !important;
    padding: 0 15px;
    margin: 0;
    color: #0078FF;
    transition: 0.5s ease all;
    height: 45px;
}

.sidebar #mailpoet_form_2 .mailpoet_paragraph .mailpoet_text {
    width: 100%;
}

.sidebar #mailpoet_form_2 .mailpoet_paragraph {
    display: flex;
    flex-wrap: wrap;
}

.sidebar #mailpoet_form_2 .mailpoet_paragraph .mailpoet_text:focus {
    border-bottom: 0 solid #000;
    box-shadow: 0 0 0 0 transparent;
    background-color: white;
    transition: 0.5s ease all;
}

.sidebar #mailpoet_form_2 .mailpoet_text::placeholder, #mailpoet_form_2 .mailpoet_textarea ::placeholder {
    color: #0078FF !important;
}

/* Nav bar */

body.logged-in.admin-bar .topnav2 {
    top: 38px;
}

body.logged-in.admin-bar .site-nav-blog {
    top: 30px !important;

}

body.logged-in.admin-bar.single-format-standard .site-nav-blog-2 {
    top: 30px !important;

}

body.logged-in.admin-bar.single-post {
    padding-top: 50px;
}

.site-nav-blog {
    top: 0px;
}

.single-post {
    padding-top: 50px;
}

/* Nav bar end*/

/* social */
.a2a_kit.a2a_kit_size_32.addtoany_list {
    line-height: 0px !important;
}

/* end social mobile*/

/* end social*/

.parsley-custom-error-message {
    font-size: 1em;
    color: #ffcc00 !important;
}

#site-nav {
    z-index: 1001;
!important;
}

.media-content #css-only-modals {
    z-index: 4;
!important;
}

.topnav .responsive {
    z-index: 1001 !important;
}

/*   Single Post  */

.single-post input.mailpoet_submit:hover {
    color: #0078FF;
    transition: 0.5s ease all;
    cursor: pointer;
}

.single-post input.mailpoet_submit {
    padding: 0 10px;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2em;
    color: #666;
    background-color: white;
    transition: 0.5s ease all;
    border: 0;
    height: 45px !important;
}

.single-post #mailpoet_form_2 .mailpoet_text, #mailpoet_form_2 .mailpoet_textarea {

    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    font-size: 1em !important;
    padding: 0 15px;
    margin: 0;
    color: #0078FF;
    transition: 0.5s ease all;
    height: 45px;
}

.single-post #mailpoet_form_2 .mailpoet_paragraph .mailpoet_text {
    width: 100%;
}

.single-post #mailpoet_form_2 .mailpoet_paragraph {
    display: flex;
    flex-wrap: wrap;
}

.single-post #mailpoet_form_2 .mailpoet_paragraph .mailpoet_text:focus {
    border-bottom: 0 solid #000;
    box-shadow: 0 0 0 0 transparent;
    background-color: white;
    transition: 0.5s ease all;
}

.single-post #mailpoet_form_2 .mailpoet_text::placeholder, #mailpoet_form_2 .mailpoet_textarea ::placeholder {
    color: #0078FF !important;
}

.single-post form.mailpoet_form.mailpoet_form_shortcode {
    display: flex;
}

.single-post div#mailpoet_form_2 {
    width: 100%;
}

.single-post p.mailpoet_paragraph {
    width: 70%;
}

.single-post p.mailpoet_paragraph:last-of-type {
    width: 30%;
    margin-left: 10px;
}

/* Sidebar */
.single-post p.mailpoet_validate_success {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    align-items: center;
    left: 0;
    background: #4733c9;
    background: -moz-linear-gradient(left, #4733c9 0%, #1b76ff 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #4733c9), color-stop(100%, #1b76ff));
    background: -webkit-linear-gradient(left, #4733c9 0%, #1b76ff 100%);
    background: -o-linear-gradient(left, #4733c9 0%, #1b76ff 100%);
    background: -ms-linear-gradient(left, #4733c9 0%, #1b76ff 100%);
    background: linear-gradient(to right, #4733c9 0%, #1b76ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4733c9', endColorstr='#1b76ff', GradientType=1);
    width: 100%;
    height: 86px;
    font-size: 3rem;
}

.single-post #mailpoet_form_2 .mailpoet_validate_success {
    color: white !important;
    position: absolute;
    bottom: -20px;
}

.single-post section.form-section {
    position: relative;
}

/* End sidebar*/
/* End Single Post*/

/* Acerca de */

.site-nav-bg-white {
    z-index: 1001 !important;
}

/* Fin acerca de */

/* single form 4 */

.single-post #mailpoet_form_4 .mailpoet_text, #mailpoet_form_4 .mailpoet_textarea {

    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    font-size: 1em !important;
    padding: 0 15px;
    margin: 0;
    color: #0078FF;
    transition: 0.5s ease all;
    height: 45px;
}

.single-post #mailpoet_form_4 .mailpoet_paragraph .mailpoet_text {
    width: 100%;
}

.single-post #mailpoet_form_4 .mailpoet_paragraph {
    display: flex;
    flex-wrap: wrap;
}

.single-post #mailpoet_form_4 .mailpoet_paragraph .mailpoet_text:focus {
    border-bottom: 0 solid #000;
    box-shadow: 0 0 0 0 transparent;
    background-color: white;
    transition: 0.5s ease all;
}

.single-post #mailpoet_form_4 .mailpoet_text::placeholder, #mailpoet_form_4 .mailpoet_textarea ::placeholder {
    color: #0078FF !important;
}

.single-post div#mailpoet_form_4 {
    width: 100%;
}

.single-post #mailpoet_form_4 .mailpoet_validate_success {
    color: white !important;
    position: absolute;
    bottom: -20px;
}

p.mailpoet_validate_success {
    padding: 38px !important;
}

a.js-wpml-ls-item-toggle.wpml-ls-item-toggle {
    border: 0 !important;
    background: 0 !important;
}

.wpml-ls-statics-shortcode_actions.wpml-ls.wpml-ls-legacy-list-vertical {
    width: 100%;
}

ul#dropdown2 {
    overflow: hidden !important;
}

span.page-numbers.current {
    background-color: #e4e4e4;
    color: #333;
    transition: 0.5s ease all;
    border-radius: 25px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.page-numbers:hover {
    background-color: #e4e4e4;
    color: #333;
    transition: 0.5s ease all;
}

a.page-numbers {
    height: 40px;
    width: 40px;
    color: #999;
    transition: 0.5s ease all;
    border-radius: 25px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numeric_nav {
    display: flex;
    justify-content: center;
}

div.wpcf7-validation-errors {
    display: none !important;
}

.spring-spinner, .spring-spinner * {
    box-sizing: border-box;
}

.spring-spinner {
    height: 60px;
    width: 60px;
}

.spring-spinner .spring-spinner-part {
    overflow: hidden;
    height: calc(60px / 2);
    width: 60px;
}

.spring-spinner .spring-spinner-part.bottom {
    transform: rotate(180deg) scale(-1, 1);
}

.spring-spinner .spring-spinner-rotator {
    width: 60px;
    height: 60px;
    border: calc(60px / 7) solid transparent;
    border-right-color: #FFFFFF;
    border-top-color: #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    animation: spring-spinner-animation 2s ease-in-out infinite;
    transform: rotate(-200deg);
}

@keyframes spring-spinner-animation {
    0% {
        border-width: calc(60px / 7);
    }
    25% {
        border-width: calc(60px / 23.33);
    }
    50% {
        transform: rotate(115deg);
        border-width: calc(60px / 7);
    }
    75% {
        border-width: calc(60px / 23.33);
    }
    100% {
        border-width: calc(60px / 7);
    }
}

.background-loader {
    display:none!important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FBFBFB;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 9999999999;
}