$principal-blue: #1b76ff;
$second-blue: #1d73fe;
$text-blue: #0078FF;
$blue-hover: #155ecc;
$blue-input: #1763da;

$light-gray: #e4e4e4;
$light-gray-2: #F0F0F0;
$gray-border: #f1f1f1;

$gray: #999;
$text-gray: #666;
$titles: #333;